# dependencies
/node_modules
/.pnp
.pnp.js

# production build
/build

# testing
/coverage
/jest.config.js

# environment variables
.env
.env.* 

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Prettier cache
.prettiercache

# Mac system files
*.DS_Store

# Optional if using gh-pages
/.cache
/gh-pages-branch

# Optional for Sass/SCSS caching
.sass-cache

# If using ESLint
.eslintcache
